<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="~{_viewStart}">
<meta charset="utf-8">
<th:block layout:fragment="styles">
    <link type="text/css" rel="stylesheet" th:href="@{/scripts/common/layui/layui_ext/dtree/dtree.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/scripts/common/layui/layui_ext/dtree/dtree.css}"/>
    <!--<link type="text/css" rel="stylesheet" th:href="@{/scripts/common/inputTags.css}"/>-->
    <link type="text/css" rel="stylesheet" th:href="@{/scripts/common/tag.css}"/>
    <!--<link type="text/css" rel="stylesheet" th:href="@{/wangeditor/css/wangEditor.css}"/>-->
    <!--多选下拉框CSS-->
    <link type="text/css" rel="stylesheet"
          th:href="@{/scripts/common/layui/layui_ext/formSelects/formSelects-v4.css}"/>
    <!--<script type="text/javascript" th:src="@{/wangeditor/script/wangEditor.js}"></script>-->
    <!--<script type="text/javascript" th:src="@{/scripts/common/layui/layui_ext/inputTags/inputTags.js}"></script>-->
    <script type="text/javascript" th:src="@{/scripts/common/tag.js}"></script>
</th:block>
<div layout:fragment="mainContent">
    <div class="layui-breadcrumb-box">
        <span class="layui-breadcrumb">
        <a><cite>论文管理/论文添加</cite></a>
        </span>
    </div>
    <div>
        <div class="layui-card" style="height: 750px">
            <div class="layui-card-body">
                <div class="layui-tab layui-tab-brief">
                    <div class="layui-tab-content">
                        <form class="layui-form" action="">
                            <div class="layui-form-item">
                                <label class="layui-form-label required">论文标题：</label>
                                <div class="layui-input-block">
                                    <input type="text" name="title" lay-verify="required" autocomplete="off"
                                           style="width: 1100px" placeholder="请输入论文标题" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label required">作者：</label>
                                <div class="layui-input-block">
                                    <div class="lay-ZD-search layui-form-select">
                                        <div class="layui-select-title">
                                            <!--<input type="text" name="id" class="layui-input" style="display:none">-->
                                            <input type="hidden" id="authorhidden">
                                            <input type="text" id="author">
                                        </div>
                                        <dl class="layui-anim layui-anim-upbit" id="pull_down_author">

                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label required">分类：</label>
                                <div class="layui-input-block">
                                    <div class="layui-select-title">
                                        <div class="lay-ZD-search layui-form-select">
                                            <div class="layui-select-title">
                                                <!--<input type="text" name="id" class="layui-input" style="display:none">-->
                                                <input type="hidden" id="typehidden">
                                                <input type="text" placeholder="带搜索的选择框" value="" name="type"
                                                       id="type" style="width: 300px"
                                                       class="layui-input">
                                            </div>
                                            <dl class="layui-anim layui-anim-upbit" id="pull_down_type">

                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label required">关键字：</label>
                                <div class="layui-input-block">
                                    <div class="layui-select-title">
                                        <div class="lay-ZD-search layui-form-select">
                                            <div class="layui-select-title">
                                                <!--<input type="text" name="id" class="layui-input" style="display:none">-->
                                                <input type="hidden" id="keywordhidden">
                                                <input type="text" placeholder="带搜索的选择框" value="" name="keyword"
                                                       id="keyword" style="width: 300px"
                                                       class="layui-input">
                                            </div>
                                            <dl class="layui-anim layui-anim-upbit" id="pull_down_keyword">

                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label required">引证文献：</label>
                                <div class="layui-input-block">
                                    <div class="layui-select-title">
                                        <div class="lay-ZD-search layui-form-select">
                                            <div class="layui-select-title">
                                                <!--<input type="text" name="id" class="layui-input" style="display:none">-->
                                                <input type="hidden" id="literaturehidden">
                                                <input type="text" placeholder="带搜索的选择框" value="" name="literature"
                                                       id="literature" style="width: 300px"
                                                       class="layui-input">
                                            </div>
                                            <dl class="layui-anim layui-anim-upbit" id="pull_down_literature">

                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label required">摘要：</label>
                                <div class="layui-input-block">
                                    <textarea placeholder="请输入内容" name="abstract_content" class="layui-textarea"
                                              style="width: 1100px">
                                    </textarea>
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label required">论文内容：</label>
                                <div class="layui-input-block">
                                    <textarea placeholder="请输入内容" name="content" class="layui-textarea"
                                              style="width: 1100px">
                                    </textarea>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">论文原文件：</label>
                                <div class="layui-input-block">
                                    <button type="button" class="layui-btn" id="upload">
                                        <i class="layui-icon">&#xe67c;</i>选择文件
                                    </button>&nbsp;&nbsp;
                                    <strong><span id="filename" style="color: #009688;"></span></strong>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button type="button" class="layui-btn" lay-filter="demo1">保 存
                                    </button>
                                    <button type="reset" class="layui-btn layui-btn-primary">重 置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="scripts">
    <script>
        $(function () {
            layui.use(['form', 'layer', 'table', 'laytpl', 'element', 'formSelects', 'upload'], function () {
                var form = layui.form;
                var laytpl = layui.laytpl;
                var table = layui.table;
                var layer = layui.layer;
                var upload = layui.upload;

                //添加标签-作者
                var tagAuthor = new Tag("author");
                tagAuthor.initView();

                //添加标签-分类
                var tagType = new Tag("type");
                tagType.initView();

                //添加标签-关键字
                var tagKeyword = new Tag("keyword");
                tagKeyword.initView();

                //添加标签-引证文献
                var tagLiterature = new Tag("literature");
                tagLiterature.initView();

                // 模糊查询
                $("input").on("click", function () {
                    var idhidden = $(this).parent().prev().prev().attr("id");
                    console.log(idhidden);
                    if (idhidden == "authorhidden") {
                        setTimeout(function () {
                            getFuzzySearch(form, "author", "pull_down_author");
                            form.render();
                        }, 200);
                    }
                    if (idhidden == "typehidden") {
                        setTimeout(function () {
                            getFuzzySearch(form, "type", "pull_down_type");
                            form.render();
                        }, 200);
                    }
                    if (idhidden == "keywordhidden") {
                        setTimeout(function () {
                            getFuzzySearch(form, "keyword", "pull_down_keyword");
                            form.render();
                        }, 200);
                    }
                    if (idhidden == "literaturehidden") {
                        setTimeout(function () {
                            getFuzzySearch(form, "literature", "pull_down_literature");
                            form.render();
                        }, 200);
                    }
                });

                function getFuzzySearch(form, id, pulldown) {
                    $(".lay-ZD-search input").on("keyup", function () {
                        $("#" + pulldown).empty();
                        var str = "";
                        $(this).parents(".lay-ZD-search").addClass("layui-form-selected");
                        var search = $(this).val();
                        $.ajax({
                            url: TDFPath + 'thesisManage/ajax/fuzzySearch',
                            type: 'post',
                            data: {search: search, type: id},
                            success: function (res) {
                                $.each(res, function (i, item) {
                                    str += '<dd lay-value="' + item.dictvalue + '" class="">' + item.dictvalue + '</dd>'
                                })
                                $("#" + pulldown).append(str);
                                $("dd").on("click", function () {
                                    $("input[id='" + id + "']").next().children().val($(this).attr("lay-value"));
                                    $("#" + pulldown).hide();
                                });
                            },
                            error: function (error) {
                                layer.alert("获取数据失败")
                            }
                        });
                    }).on("click", function () {
                        $(this).trigger("keyup");
                    })
                }

                upload.render({
                    type: 'post',
                    elem: '#upload'
                    , accept: 'file'
                    , url: TDFPath + 'thesisManage/uploadFile' // 上传接口
                    , done: function (res) {
                        //请求正常回调
                        if (res.code == 0) {
                            console.log(res);
                            $("#filename").html(res.msg);
                            layer.msg("上传成功！");
                        }
                    }
                    , error: function (res) {
                        //请求异常回调
                        layer.msg("上传失败，请稍后重试！");
                    }
                });

            });
        });
    </script>
</th:block>
</html>
