<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="~{_viewStart}">
<meta charset="utf-8">
<th:block layout:fragment="styles">
    <link type="text/css" rel="stylesheet" th:href="@{/scripts/common/layui/layui_ext/dtree/dtree.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/scripts/common/layui/layui_ext/dtree/dtree.css}"/>
    <!--<link type="text/css" rel="stylesheet" th:href="@{/scripts/common/tag.css}"/>-->
    <!--多选下拉框CSS-->
    <link type="text/css" rel="stylesheet"
          th:href="@{/scripts/common/layui/layui_ext/formSelects/formSelects-v4.css}"/>
    <!--<script type="text/javascript" th:src="@{/scripts/common/tag.js}"></script>-->
    <script src="../../scripts/common/ckeditor/ckeditor.js"></script>
</th:block>
<div layout:fragment="mainContent">
    <style>

        .layui-form-item .left-badge-bx {
            padding-top: 6px;
            display: inline-block;
            float: left;
            /*margin-right: 15px;*/
        }

        .layui-form-item .left-badge-bx .layui-badge {
            position: relative;
        }

        .layui-form-item .left-badge-bx .layui-badge:hover .layui-icon-close {
            display: inline-block;
        }

        .layui-form-item .left-badge-bx .layui-badge .layui-icon-close {
            position: absolute;
            right: -6px;
            top: -7px;
            background-color: #fff;
            color: #000;
            border-radius: 50%;
            border: 1px solid #ddd;
            width: 12px;
            height: 12px;
            padding: 0;
            line-height: 12px;
            font-size: 12px;
            font-weight: bold;
            cursor: pointer;
            display: none;
        }
    </style>

    <div class="layui-breadcrumb-box">
        <span class="layui-breadcrumb">
        <a><cite>论文管理/论文添加</cite></a>
        </span>
    </div>
    <div>
        <div class="layui-card" style="height: 750px">
            <div class="layui-card-body">
                <div class="layui-tab layui-tab-brief">
                    <div class="layui-tab-content">
                        <form class="layui-form" id="addThesisForm" style="width: 73%;min-width: 1000px;">
                            <div class="layui-form-item">
                                <label class="layui-form-label required">论文标题：</label>
                                <div class="layui-input-block">
                                    <input type="text" name="title" lay-verify="required" autocomplete="off"
                                           placeholder="请输入论文标题" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label required">作者：</label>
                                <div class="layui-input-block">
                                    <div class="lay-ZD-search layui-form-select">
                                          <span class="left-badge-bx">
                                          </span>
                                        <div class="layui-input-inline">
                                            <input type="text" id="author" name="author" lay-verify="required"
                                                   placeholder="模糊搜索下拉框"
                                                   class="layui-input" autocomplete="off">
                                        </div>
                                        <dl class="layui-anim layui-anim-upbit" id="pull_down_author">

                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label required">分类：</label>
                                <div class="layui-input-block">
                                    <div class="layui-select-title">
                                        <div class="lay-ZD-search layui-form-select">
                                            <span class="left-badge-bx">
                                          </span>
                                            <div class="layui-input-inline">
                                                <input type="text" id="type" name="type" lay-verify="required"
                                                       placeholder="模糊搜索下拉框"
                                                       class="layui-input" autocomplete="off">
                                            </div>
                                            <dl class="layui-anim layui-anim-upbit" id="pull_down_type">

                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label required">关键字：</label>
                                <div class="layui-input-block">
                                    <div class="layui-select-title">
                                        <div class="lay-ZD-search layui-form-select">
                                            <span class="left-badge-bx">
                                          </span>
                                            <div class="layui-input-inline">
                                                <input type="text" id="keyword" name="keyword" lay-verify="required"
                                                       placeholder="模糊搜索下拉框"
                                                       class="layui-input" autocomplete="off">
                                            </div>
                                            <dl class="layui-anim layui-anim-upbit" id="pull_down_keyword">

                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label required">引证文献：</label>
                                <div class="layui-input-block">
                                    <div class="layui-select-title">
                                        <div class="lay-ZD-search layui-form-select">
                                            <span class="left-badge-bx">
                                          </span>
                                            <div class="layui-input-inline">
                                                <input type="text" id="literature" name="literature"
                                                       placeholder="模糊搜索下拉框"
                                                       lay-verify="required" class="layui-input" autocomplete="off">
                                            </div>
                                            <dl class="layui-anim layui-anim-upbit" id="pull_down_literature">

                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label required">摘要：</label>
                                <div class="layui-input-block">
                                    <textarea placeholder="请输入摘要" name="abstractContent" id="abstractContent"
                                              class="layui-textarea">
                                    </textarea>
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label required">论文内容：</label>
                                <div class="layui-input-block">
                                    <textarea placeholder="请输入论文内容" name="content" id="content" class="layui-textarea">
                                    </textarea>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">原文件：</label>
                                <div class="layui-input-block">
                                    <button type="button" class="layui-btn" id="upload">
                                        <i class="layui-icon">&#xe67c;</i>选择文件
                                    </button>&nbsp;&nbsp;
                                    <input type="hidden" name="fileinfoId" id="fileinfoId">
                                    <strong><span id="filename" style="color: #009688;"></span></strong>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button type="button" class="layui-btn" lay-filter="save" id="save" lay-submit="">
                                        保 存
                                    </button>
                                    <button type="reset" class="layui-btn layui-btn-primary">重 置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="scripts">
    <script>
        $(function () {
            // 富文本编辑器:ckeditor
            var editor = CKEDITOR.replace('content', {width: '1100px', height: '300px'}, {
                toolbar:
                    [
                        //加粗     斜体，     下划线      穿过线      下标字        上标字
                        ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript'],
                        // 数字列表          实体列表            减小缩进    增大缩进
                        ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent'],
                        //左对 齐             居中对齐          右对齐          两端对齐
                        ['JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock'],
                        //超链接  取消超链接 锚点
                        ['Link', 'Unlink', 'Anchor'],
                        //图片        表格       水平线            表情       特殊字符        分页符
                        ['Image', 'Table', 'HorizontalRule', 'Smiley', 'SpecialChar', 'PageBreak'],
                        '/',
                        // 样式       格式      字体    字体大小
                        ['Styles', 'Format', 'Font', 'FontSize'],
                        //文本颜色     背景颜色
                        ['TextColor', 'BGColor'],
                        //全屏           显示区块
                        ['Maximize', 'ShowBlocks', '-']
                    ]
            })

            layui.use(['form', 'layer', 'table', 'laytpl', 'element', 'formSelects', 'upload'], function () {
                var form = layui.form;
                var laytpl = layui.laytpl;
                var table = layui.table;
                var layer = layui.layer;
                var upload = layui.upload;

                // 模糊查询
                $(document).on("click", "input", function () {
                    var id = $(this).attr("id");
                    console.log(id);
                    console.log(id);
                    console.log(id);
                    if (id == "author") {
                        setTimeout(function () {
                            getFuzzySearch(form, "author", "pull_down_author");
                            form.render();
                        }, 200);
                    }
                    if (id == "type") {
                        setTimeout(function () {
                            getFuzzySearch(form, "type", "pull_down_type");
                            form.render();
                        }, 200);
                    }
                    if (id == "keyword") {
                        setTimeout(function () {
                            getFuzzySearch(form, "keyword", "pull_down_keyword");
                            form.render();
                        }, 200);
                    }
                    if (id == "literature") {
                        setTimeout(function () {
                            getFuzzySearch(form, "literature", "pull_down_literature");
                            form.render();
                        }, 200);
                    }
                })

                function getFuzzySearch(form, id, pulldown) {
                    console.log("pulldown:");
                    console.log(pulldown);
                    $("#" + id).off().on("keyup input", function () {
                        // 清空下拉框列表
                        $("#" + pulldown).empty();
                        var str = "";
                        $(this).parents(".lay-ZD-search").addClass("layui-form-selected");
                        var search = $(this).val();
                        $("#" + pulldown).show();
                        $.ajax({
                            url: TDFPath + 'thesisManage/ajax/fuzzySearch',
                            type: 'post',
                            data: {search: search, type: id},
                            success: function (res) {
                                $.each(res, function (i, item) {
                                    str += '<dd lay-value="' + item.dictvalue + '" class="">' + item.dictvalue + '</dd>'
                                })
                                $("#" + pulldown).append(str);
                                $("dd").on("click", function () {
                                    // 生成标签
                                    $(this).parents(".lay-ZD-search").children(".left-badge-bx").append("<span class='layui-badge'>"
                                        + $(this).attr("lay-value")
                                        + "<i class='layui-icon layui-icon-close'></i>"
                                        + "</span>&nbsp;&nbsp;"
                                    );
                                    // 删除标签
                                    $(document).on("click", ".layui-icon-close", function () {
                                        $(this).parents(".layui-badge").remove();
                                    });
                                });
                            },
                            error: function (error) {
                                layer.alert("获取数据失败")
                            }
                        });
                    })
                }

                // 鼠标失去焦点事件
                $(document).on("focus", " input", function () {
                    $(".layui-anim-upbit").hide();
                    $(this).parents(".lay-ZD-search").find(".layui-anim-upbit").show();
                })

                // 删除标签
                $(document).on("click", ".layui-icon-close", function () {
                    $(this).parents(".layui-badge").remove();
                });

                // 点击搜索下拉框列表事件
                $(document).on("click", ".layui-anim-upbit>dd", function () {
                    $(this).siblings().removeClass("layui-this");
                    $(this).addClass("layui-this");
                    $(this).parents(".lay-ZD-search").removeClass("layui-form-selected").find("input").val($(this).text());
                    $("dl").hide();
                })

                // 清除textarea内容
                $("#abstractContent").val("");
                $("#content").val("");

                // 文件上传
                upload.render({
                    type: 'post',
                    elem: '#upload'
                    , accept: 'file'
                    , url: TDFPath + 'thesisManage/uploadFile' // 上传接口
                    , done: function (res) {
                        //请求正常回调
                        if (res.code == 0) {
                            console.log(res);
                            $("#filename").html(res.data.fileName);
                            $("#fileinfoId").val(res.data.filePath);
                            layer.msg("上传成功！");
                        }
                    }
                    , error: function (res) {
                        //请求异常回调
                        layer.msg("上传失败，请稍后重试！");
                    }
                });

                // 保存
                form.on('submit(save)', function (data) {
                    var author = tagStr("author");
                    var type = tagStr("type");
                    var keyword = tagStr("keyword");
                    var literature = tagStr("literature");
                    var data = $("#addThesisForm").SerializeJson();
                    data.author = author;
                    data.type = type;
                    data.keyword = keyword;
                    data.literature = literature;
                    sendAjax(layer, null, table, 'thesisManage/ajax/addThesis', 'POST', null, data, function (res) {
                        if (res.code == 0) {
                            location.href = TDFPath + "thesisManage/index";
                            layer.msg('添加论文成功！');
                        } else {
                            layer.msg(res.msg);
                        }
                    });
                    return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
                });

                // 组装标签字符串
                function tagStr(id) {
                    var str = ""
                    var newStr = ""
                    var tagList = $("#" + id).parents(".lay-ZD-search").find(".layui-badge");
                    if (tagList.length > 0) {
                        $.each(tagList, function (i, item) {
                            str = str + $(item).text() + ",";
                            // 去掉最后一个逗号
                            newStr = str.substring(0, str.length - 1);
                        })
                    }
                    return newStr;
                }
            });
        });
    </script>
</th:block>
</html>
