<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="~{_viewStart}">
<meta charset="utf-8">
<div layout:fragment="mainContent">
    <div class="layui-breadcrumb-box">
        <span class="layui-breadcrumb">
        <a><cite>论文管理</cite></a>
        </span>
    </div>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-form layui-card-header " lay-filter="sreachForm">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 56px;text-align: left;">关键字：</label>
                        <div class="layui-input-inline">
                            <select id="guanjianzi" name="guanjianzi" data-key="keywordmanage">
                                <option value="">请选择</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 56px;text-align: left;">作者：</label>
                        <div class="layui-input-inline">
                            <select id="author" name="author" data-key="authormanage">
                                <option value="">请选择</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 56px;text-align: left;">日期：</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" readonly="readonly" name="datesearch" id="datesearch"
                                   placeholder="日期区间搜索">
                        </div>
                    </div>
                    <div class="layui-inline" style="margin-left: -110px;">
                        <div class="layui-input-block">
                            <input type="text" name="keyword" id="keyword" placeholder="请输入作者/文献名称/标题/内容"
                                   autocomplete="off" style="width:210px;"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button id="searchButton" class="layui-btn " lay-submit lay-filter="sreachBtn">
                            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                        </button>
                    </div>
                    <div class="layui-inline">
                        <a id="btn_addUser" href="JavaScript:;" class="layui-btn"><i
                                class="layui-icon layui-icon-add-1 layuiadmin-button-btn"></i>添 加</a>
                    </div>
                </div>
            </div>
            <div class="layui-card-body">
                <table id="thesis" lay-filter="test"></table>
            </div>
        </div>
    </div>

    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        {{#if (d.fileinfoId == null) { }}
                {{# }else{ }}
               <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="download">下载</a>
                {{# } }}
    </script>
</div>

<th:block layout:fragment="scripts">
    <script>
        $("#keyword").keydown(function (e) {
            if (e.keyCode == 13) {
                $("#searchButton").trigger("click");
            }
        });

        var addUser = function (data, callBackFunc) {
            console.log(data);
            $.ajax({
                url: TDFPath + 'hospitalInfoUser/ajax/addHospitalInfoUser',
                type: 'post',
                data: data,
                success: function (res) {
                    callBackFunc(true, res);
                },
                error: function (res) {
                    callBackFunc(false, res);
                }
            });
        }

        getFilterParam = function (form) {

        }

        layui.use(['form', 'layer', 'table', 'laytpl', 'laydate'], function () {
            var form = layui.form;
            var laytpl = layui.laytpl;
            var laydate = layui.laydate;

            form.on('submit(sreachBtn)', function (data) {
                //data.field
                console.log(data);
                userTable.reload({
                    where: data.field
                    , page: {
                        curr: 1 //重新从第 1 页开始
                    }
                })
            });

            laydate.render({
                elem: '#datesearch' //指定元素
                , range: true
            });

            // 表格需要实例化
            var table = layui.table;
            //执行一个 table 实例
            var userTable = table.render({
                elem: '#thesis'
                , where: getFilterParam(form)
                , height: "full-350" //自动适应 - 固定值 （px）
                , url: TDFPath + 'thesisManage/ajax/listThesis' //数据接口
                , title: '论文列表'
                , page: true //开启分页
                , cols: [
                    [
                        {
                            field: 'title',
                            title: '标题',
                            minWidth: "150",
                            event: "detail",
                            templet: function (d) {
                                return '<span href="#" class="detail" data-id="data-id" style="color: #009688;cursor: pointer;">' + '<strong>' + d.title + '</strong>' + '</span>'
                            }
                        },
                        {field: 'authorStr', title: '作者', minWidth: "150"},
                        {field: 'typeStr', title: '分类', minWidth: "150"},
                        {field: 'keywordStr', title: '关键字', minWidth: "150"},
                        {field: 'createTime', title: '上传时间', minWidth: "150"},
                        {
                            fixed: 'id',
                            title: '操作',
                            width: "180",
                            align: 'center',
                            toolbar: '#barDemo',
                            fixed: 'right'
                        }
                    ]
                ]
            });
            // 监听行工具事件
            table.on('tool(test)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
                var data = obj.data //获得当前行数据
                    , layEvent = obj.event; //获得 lay-event 对应的值
                if (layEvent === "edit") {
                    editThesis(layer, form, data);
                } else if (layEvent === "detail") {
                    detailThesis(layer, form, data);
                } else if (layEvent === "download") {
                    download(data);
                }
            });

            // 监听状态操作
            form.on('switch(sexDemo)', function (obj) {
                var data = {};
                data.id = this.value;
                data.state = obj.elem.checked;
                $.ajax({
                    url: TDFPath + 'hospitalInfoUser/ajax/editHospitalInfoUserByState',
                    type: 'post',
                    data: data,
                    success: function (res) {
                        userTable.reload();
                    },
                    error: function (error) {
                        userTable.reload();
                    }
                });
            });

            $(function () {
                // 绑定多个下拉
                var ids = [{id: 'guanjianzi', deafalt: null}, {id: 'author', deafalt: null}];
                loadDataToSelects(ids, form);

                //绑定下拉多个
                function loadDataToSelects(ids, form) {
                    $.each(ids, function (index, value) {
                        var thisParm = $("#" + value.id);
                        var datakey = thisParm.attr('data-key');
                        loadDataToSelect(TDFPath + 'thesisManage/ajax/getSysdictData?parentKey=' + datakey, value.id, null, value.deafalt, null, function () {
                            form.render();
                        })
                    });
                }
            });

            // 添加论文
            $("#btn_addUser").click(function () {
                location.href = TDFPath + "thesisManage/ajax/toAddPage";
            });

            // 编辑论文
            function editThesis(layer, form, data) {
                location.href = TDFPath + "thesisManage/ajax/toEditPage?id=" + data.id;
            }

            // 论文详情
            function detailThesis(layer, form, data) {
                location.href = TDFPath + "thesisManage/ajax/toDetailPage?id=" + data.id;
            }

            // 下载论文原文件
            function download(data) {
                window.location.href = TDFPath + "thesisManage/ajax/download?filePath=" + data.fileinfoId;
            }
        });
    </script>
</th:block>
</html>
