<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="~{_viewStart}">
<div layout:fragment="mainContent">
    <div class="layui-breadcrumb-box">
				<span class="layui-breadcrumb">
				<a><cite>分类管理</cite></a>
				</span>
    </div>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-form layui-card-header " lay-filter="sreachForm">
                <div class="layui-form-item">
                    <div class="layui-inline" style="margin-left: -110px;">
                        <div class="layui-input-block">
                            <input type="text" name="keyword" id="keyword" placeholder="请输入关键字搜索" autocomplete="off"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button id="searchButton" class="layui-btn " lay-submit lay-filter="sreachBtn">
                            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                        </button>
                    </div>
                    <div class="layui-inline">
                        <button type="button" id="btn_addDict" class="layui-btn">
                            创建分类
                        </button>
                    </div>
                </div>
            </div>
            <div class="layui-card-body">
                <table id="demo" lay-filter="test"></table>
            </div>
        </div>
    </div>


    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
    <script type="text/html" id="dictformDatatml">
        <form class="layui-form" lay-filter="formdata">
            <div class="layui-form-item">
                <label class="layui-form-label required">分类：</label>
                <div class="layui-input-block">
                    <input type="hidden" name="id">
                    <input type="hidden" name="dictparentkey" value="typemanage">
                    <input type="hidden" name="dictkey" id="dictkey">
                    <input type="text" name="dictvalue" id="dictvalue" placeholder="请输入分类内容" autocomplete="off"
                           maxlength="200" class="layui-input" lay-verify="required">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="dictFormbtn">保 存</button>
                </div>
            </div>
        </form>
    </script>

</div>

<th:block layout:fragment="scripts">
    <script th:inline="javascript">
        $("#keyword").keydown(function (e) {
            if (e.keyCode == 13) {
                $("#searchButton").trigger("click");
            }
        });

        var addDict = function (form, layer, dictTable) {
                layerOpenForm({
                    title: "添加分类",
                    layerobj: layer,
                    formobj: form,
                    content: $("#dictformDatatml").html(),//使用模板
                    btnID: "dictFormbtn",
                    calbackfn: function (data) {
                        data.field.dictkey = $("#dictvalue").val();
                        $.ajax({
                            url: TDFPath + 'dictManage/ajax/saveSysDictItem',
                            type: 'post',
                            data: data.field,
                            success: function (res) {
                                if (res.code == 0) {
                                    layer.msg("添加成功");
                                    dictTable.reload();
                                } else {
                                    layer.msg("添加失败：" + res.msg);
                                }
                            },
                            error: function (error) {
                                layer.msg("系统错误，请稍后再试");
                            }
                        });
                    }
                })
            },
            editDict = function (layer, form, formData, dictTable, callBackFunc) {
                layerOpenForm({
                    title: "编辑分类",
                    layerobj: layer,
                    formobj: form,
                    filter: "formdata",
                    formdata: formData,
                    content: $("#dictformDatatml").html(),//使用模板
                    btnID: "dictFormbtn",
                    successCalbackfn: function (boxJQ, index) {
                    },
                    calbackfn: function (data) {
                        data.field.dictkey = "typemanage_"+$("#dictvalue").val();
                        $.ajax({
                            url: TDFPath + 'sysDict/ajax/updateSysDict',
                            type: 'post',
                            data: data.field,
                            success: function (res) {
                                if (res.code == 0) {
                                    layer.msg("保存成功");
                                    dictTable.reload();
                                    callBackFunc(true, res);
                                } else
                                    layer.msg(res.msg);
                            },
                            error: function (error) {
                                layer.msg("系统错误，请稍后再试");
                            }
                        });
                    }
                })
            }
        var delUser = function (id, layer, callBackFunc) {
                layer.confirm('确定要删除该分类？', function (index) {
                    $.ajax({
                        url: TDFPath + 'sysDict/ajax/delSysDict',
                        type: 'post',
                        data: {id: id},
                        success: function (res) {
                            if (res.code == 0) {
                                layer.msg('删除成功！');
                                if (typeof (callBackFunc) == "function")
                                    callBackFunc(res);
                            }
                            else
                                layer.msg(res.msg);
                        },
                        error: function (error) {
                            layer.msg("系统错误，请稍后再试");
                        }
                    });
                });

            },
            getFilterParam = function (form) {
                var paramData = {};
                paramData.pKey = [[${dictTypeModel.dictkey}]];
                return paramData;
            }

        layui.use(['form', 'layer', 'table'], function () {
            var form = layui.form;
            form.on('submit(sreachBtn)', function (data) {
                // 组装重载表格的参数
                var paramWhere = {keyword: data.field.keyword, pKey: 'typemanage'};
                dictTable.reload({
                    where: paramWhere
                    , page: {
                        curr: 1 //重新从第 1 页开始
                    }
                })
            });

            //表格需要实例化
            var table = layui.table;
            //执行一个 table 实例
            var dictTable;
            dictTable = table.render({
                elem: '#demo'
                , where: getFilterParam(form)
                , height: "full-300" //自动适应 - 固定值 （px）
                , url: TDFPath + 'sysDict/ajax/pagedListByDictItem' //数据接口
                , title: '字典项'
                , page: true //开启分页
                , cols: [  //
                    [
                        {field: 'dictvalue', title: '分类名称', fixed: 'left'},
                        {field: 'createtime', title: '添加时间', fixed: 'left'},
                        {field: 'createuser', title: '添加人', fixed: 'left'},
                        {fixed: 'id', title: '操作', align: 'center', toolbar: '#barDemo'}
                    ]
                ]
            });
            //监听行工具事件
            table.on('tool(test)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
                var data = obj.data //获得当前行数据
                                    //userRoleSetting
                    , layEvent = obj.event; //获得 lay-event 对应的值
                if (layEvent === 'del') {
                    delUser(data.id, layer, function (res) {
                        if (res.code == 0)
                            dictTable.reload();
                    })
                } else if (layEvent === 'edit') {
                    editDict(layer, form, data, dictTable, function (res) {
                        if (res.code == 0)
                            dictTable.reload();
                    });
                }
            });

            $("#btn_addDict").click(function () {
                addDict(form, layer, dictTable);
            });


        });
    </script>
</th:block>
</html>
